@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";

// make react-toastify more bootstrapp-y
@import "toastify";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.center-y {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

#global-loading-spinner-wrapper {
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	z-index: 1; // nobody puts pacman behind listgroup
}

.invalid {
	color: $danger;
	font-size: 0.875em;
	margin-top: 0.25rem;
}

.todolist {
	margin-bottom: 1.5rem;

	.list-group-item {
		display: flex;
		justify-content: space-between;

		&.done {
			.todo-title {
				color: $success;
				font-style: italic;
				text-decoration: line-through;
			}
		}

		.todo-created {
			color: $text-muted;
			font-size: 0.8em;
		}
	}
}

.completed {
	color: $success;
}

.not-completed {
	color: $danger;
}

.modal {
	.modal-title {
		margin-bottom: 0;
	}
}
