@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";

// make react-toastify more bootstrapp-y
@import "toastify";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#global-loading-spinner-wrapper {
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	z-index: 1; // nobody puts pacman behind listgroup
}

#initial-loader {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.center-y {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.img-square {
	aspect-ratio: 1;
	object-fit: cover;
}

.modal {
	.modal-title {
		margin-bottom: 0;
	}
}

#dropzone-wrapper {
	background-color: grey;
	border-radius: 20px;
	border: dashed;
}

.drag {
	cursor: pointer;
	border-radius: 20px;

	text-align: center;
}

.drag-accept {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
}

.drag-reject {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
}
