@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

.bold {
	font-style: oblique;
}

.form {
	margin-bottom: 2rem;
}

.link {
	text-decoration: none;
	size: 30px;
	color: black;
	font-style: normal;
	cursor: pointer;
	font-weight: bold;
}

.link:hover {
	color: gray
}

p {
	color: gray;
	margin-bottom: 0;
}


.news {
	padding: 0.8rem;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}
